<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">NatuRae</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">INICIO</a></li>
								<li>
									<a href="">CURIOSIDADES</a>
									<ul>
										<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
										<li><a href="#">Galería de imágenes</a></li>
										<li><a href="#">Páginas interesantes </a></li>
										<li>
											<a href="">ESPEREN LA SORPRESA</a>
											<ul>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
												<li><a href="#">Nisl sed aliquam</a></li>
												<li><a href="#">Dolore adipiscing</a></li>
											</ul>
										</li>
										<li><a href="#">SÍ S.A.S</a></li>
									</ul>
								</li>
								<li><a href="{{ site.baseurl }}/left-sidebar.html">MANUALES</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">CURSOS</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">MI PROCESO</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>"Todo conocimiento inicia en el asombro" </h2>
								<p>Sócrates</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-cog"></i>
										<header>
											<h2>EN COLABORACIÓN </h2>
										</header>
										<p>Síganos </p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>CON</h2>
										</header>
										<p>para más</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>SÍ S.A.S</h2>
										</header>
										<p>contenido.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">ACÁ</a></li>
									<li><a href="#" class="button alt big"> O MEJOR ACÁ</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>
